body{ 
    color:#282425; 
background-color:#c3ead3;
font-family: 'Raleway', sans-serif;
font-size: 20px;
line-height: 1.5;
margin: 0;
}

h1,h2,h3,a { 
    color: #756158;
    font-family: 'Playfair Display',serif;
    font-style: italic ;
}
h1 { 
    font-size: 80px;
    text-align: center;
    color: rgb(79, 61, 61);
    margin: 0;
    
}
h2 { 
    font-size: 48px;
    text-align: center;
    margin-top: 0;
}
h3 { 
    font-size: 32px;
    margin-top: 0;
}

.foto-predstaveni {

    width: 200px;
    border-radius: 50%;
    margin: 0 30px 30px 0; 
    float:left;
}

table { 
    border-spacing: 0;
}

section { 
    padding: 50px 15%;
    overflow: auto;
    text-align: left;
}
footer {
    padding: 20px 0 20px 0;
    text-align:center ;
}

.hlavicka { 
    padding: 150px 30px;
    background-repeat: no-repeat;
    background-size:cover;
} 
